
{% extends 'table/tables.html' %}

{% load static %}
{% block content %}
 <!-- Custom styles for this page -->
 <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<div class="card shadow mb-4">
    {% include 'partials/messages.html' %}
    <div class="card-header py-3">
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <h6 class="m-0 font-weight-bold text-primary">Allocation Table</h6>
            </div>
           
            <div class="btn-group">
                <div class="btn-group ">
                    <button type="button" class="btn btn-primary float-right" id="allocateButton">
                        Allocate All Residents
                    </button>
                </div>
                <a class="btn btn-outline-primary  " href="{% url 'allocation_add' %}" >
                    Add
                        <img href ="{% static 'img/add.svg' %}" >
                    
                </a>
            </div>
        </div>
        
        
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Resident Last Name</th>
                        <th>Resident First Name</th>
                        <th>Room Name</th>
                        <th>Family Size</th>
                        <th>Building</th>
                        <th>Capacity</th>
                        <th>Resident Priority Status</th>
                        <th>Room Priority Status</th>
                        <th>Date</th>
                        <th>Actions</th>
                      </tr>
                </thead>
                
                <tbody>
                    {% for allocation in allocations %}
                    <tr>
                      <td>{{ allocation.resident.lname }}</td>
                      <td>{{ allocation.resident.fname }}</td>
                      <td>{{ allocation.room.name }}</td>
                      <td class="text-center">{{ allocation.resident.family_size }}</td>
                      <td>{{ allocation.room.building }}</td>
                      <td class="text-center">{{ allocation.room.capacity }}</td>
                      <td class="text-center">
                        {% if allocation.resident.priority == True %}
                            <span class="badge badge-pill badge-success ">Yes</span>
                        {% else %}
                        <span class="badge badge-pill badge-secondary">No</span>
                        {% endif %}
                        </td>
                        

                        <td class="text-center">
                            {% if allocation.room.priority == True %}
                                <span class="badge badge-pill badge-success ">Yes</span>
                            {% else %}
                            <span class="badge badge-pill badge-secondary">No</span>
                            {% endif %}
                            </td>
                        <td>
                            {{allocation.date}}
                        </td>
                        
                        <td class="text-center">
                            <a class="btn btn-primary me-1" href="{% url 'allocation_edit' allocation.id %}">
                                <img src="{% static 'img/edit.svg' %}" alt="">
                            </a>
                            <a class="btn btn-secondary" href="{% url 'allocation_delete' allocation.id %}">

                                <img src="{% static 'img/del.svg' %}" alt="">
                            </a>

                            
                          
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
        </div>
    </div>
</div>

<script>
    document.getElementById("allocateButton").addEventListener("click", function() {
        fetch('/allocations/allocate-all/')
          .then(response => response.json())
          .then(data => {
            console.log(data.message); // Log the message to the console
            alert(data.message); // Or directly display the message in an alert
            location.reload();
          })
          .catch(error => {
            console.error("Error:", error);
          });
      });
</script>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
        
<script src="{% static 'js/table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js.map' %}"></script>
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/table/dataTables.bootstrap4.min.js' %}"></script>


<script src="{% static 'js/table/datatables-demo.js' %}"></script>
{% endblock %}