{% extends "table/tables.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h3 class="text-center m-4">Add Residents</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      The new Resident added successfully.
      <a href="{% url 'residents' %}" class="alert-link">Go back to work.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> Resident Registration
          </div>
          <div class="card-body">
            <form action="{% url 'residents_add' %}" method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Add</button>
              <a href="{% url 'residents' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}