
{% extends 'table/tables.html' %}

{% load static %}
{% block content %}
 <!-- Custom styles for this page -->
 
 <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<div class="card shadow mb-4">
    {% include 'partials/messages.html' %}
    <div class="card-header py-3">
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <h6 class="m-0 font-weight-bold text-primary">Rooms Table</h6>
            </div>
           
            <div class="btn-group">
                
                <a class="btn btn-outline-primary  " href="{% url 'room_add' %}" >
                    Add
                        <img href ="{% static 'img/add.svg' %}" >
                    
                </a>
            </div>
        </div>
        
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Building</th>
                        <th>Capacity</th>
                        <th>Priority</th>
                        <th>Actions</th>
                      </tr>
                </thead>
                
                <tbody>
                    {% for room in rooms %}
                    <tr>
                      <td>{{ room.name }}</td>
                      <td>{{ room.building }}</td>
                      <td>{{ room.capacity }}</td>
                        <td class="text-center">
                            {% if room.priority == True %}
                                <span class="badge badge-pill badge-success ">Yes</span>
                            {% else %}
                            <span class="badge badge-pill badge-secondary">No</span>
                            {% endif %}
                            </td>
                        
                        <td class="text-center">
                            <a class="btn btn-primary me-1" href="{% url 'room_edit' room.id %}">
                                <img src="{% static 'img/edit.svg' %}" alt="">
                            </a>
                            <a type="button" class="btn btn-secondary" href="{% url 'room_delete' room.id %}">

                                <img src="{% static 'img/del.svg' %}" alt="">
                            </a>

                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
        
        <script src="{% static 'js/table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js.map' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/table/dataTables.bootstrap4.min.js' %}"></script>

  
    <script src="{% static 'js/table/datatables-demo.js' %}"></script>

{% endblock %}